body{
    background: linear-gradient(4deg, #184770a1, transparent);
    margin: 0;
    padding: 0;

 
}

.panel1 {
   
  margin: auto;
  width: 1600px;
  height: 939px;
  background: #F5FEFF;

}

.panel-logo {
    background: linear-gradient(45deg, #2A7AE4 60%, white);
    display: flex;
    align-items: flex-start;
}

.logo {
    width: 100px;
    height: 100px;
}

.etiqueta1{
    color: #2A7AE4;
    font-size: 27.6px;
    font-weight: bold;
    font-family: "Cerebri", sans-serif;
    margin-left: 100px;
    
}

.panel_izquierdo{
    padding-top: 100px;
        width: 70%;
   
}

#texto{
   
        margin-left: 100px;
        width: 70%;
        height: 400px;
        font-family: 'Lato', sans-serif;
        float: left;
        border-radius: 15px;
        margin-top: 10px;
        box-shadow: -5px 0px 0px 0px #38B6FF;



}

#texto::placeholder {
    padding-left: 10px;
  }

  button{
    background-color: #2A7AE4;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 0 #fff;
    color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    padding: 29px 44px;
    transition: all 0.3s ease;
}
  
  .leftbutton{
    margin-top: 30%;
    margin-left: 7%;
    justify-content: space-between;
  }

  .rightbutton{
    margin-left: 40%;
    margin-top: -5%;
  }
 

  .panel_derecho{
    float: right;
    width: 480px;
    height: 702px;
    margin-right: 50px;
    font-family: 'Lato', sans-serif;
    border-radius: 15px;
    box-shadow: -5px 0px 0px 0px #38b6ff;
    border: solid;
    border-width: thin;

  }

  .panel_derecho h1{
    text-align: center;
  }
  
  .desierto{

    height: 382px;
    margin: 8px;
    margin-left: 10%;

  }

  .paneltitulo{
    color: #2A7AE4;
    font-size: 27.6px;
    font-weight: bold;
    font-family: "Cerebri", sans-serif;
    text-align: center;
  }

  .textarea2 {
    width: 76%;
    height: 11%;
    margin-left: 11%;
}

#copiar{

    margin-left: 33%;
    display: none;
}


 